## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [36]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [37]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [38]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [39]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [41]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [42]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [43]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [44]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [45]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## Import Keras

#### Let's go ahead and import the Keras library

In [46]:
import keras

In [47]:
from keras.models import Sequential
from keras.layers import Dense

In [48]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))

    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

In [51]:
model = regression_model()

Train the model for 50 epochs.

In [52]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 1014287.4375
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 657859.3750
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 426455.4688
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 279874.5938
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 186015.2188
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 123930.2422
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 81521.7344
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 52808.9258
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 33511.8516
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 20864.0215
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 12780.2617
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 7867.7563
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 4925.1597
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 3241.5122
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 2354.2903
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 1868.2092
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 1632.6815
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 1511.1534
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 1446.6099
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 1409.5106
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 1380.4641
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 1356.4194
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 1334.0682
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 1312.9362
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 1292.0609
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 1271.1425
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 1251.4607
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 1231.1033
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 1211.1611
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 1191.2957
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 1171.7994
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 1153.2483
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 1134.3081
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 1115.5144
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 1096.8429
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 1079.2222
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 1062.4069
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 1044.4945
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 1027.4454
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 1010.2881
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 994.1656
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 977.9927
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 962.4995
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 947.0029
Epoch 45/50
23/23 [==============================] - 0s 3ms/step - loss: 932.2172
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 916.4688
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 901.8659
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 888.5138
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 873.2662
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 859.5213

Next we need to evaluate the model on the test data.

In [53]:
value_loss = model.evaluate(X_test, y_test)
y_predict = model.predict(X_test)
print(value_loss)

10/10 [==============================] - 0s 2ms/step - loss: 766.6920
10/10 [==============================] - 0s 2ms/step
766.6919555664062

Compute the mean squared error

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
mse = mean_squared_error(y_test, y_predict)
mean = np.mean(mse)
standard_deviation = np.std(mse)
print("\n",mean, standard_deviation)

 766.6918965492175 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [56]:
total_mse = 50
epochs = 50
mse_list = []
for i in range(0, total_mse):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mse_list.append(mean_square_error)

mean_squared_errors = np.array(mse_list)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("\n"+"Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 479.666259765625
10/10 [==============================] - 0s 2ms/step
MSE 2: 391.8470764160156
10/10 [==============================] - 0s 2ms/step
MSE 3: 240.0368194580078
10/10 [==============================] - 0s 2ms/step
MSE 4: 174.65576171875
10/10 [==============================] - 0s 2ms/step
MSE 5: 153.21290588378906
10/10 [==============================] - 0s 2ms/step
MSE 6: 100.96630096435547
10/10 [==============================] - 0s 2ms/step
MSE 7: 95.82848358154297
10/10 [==============================] - 0s 2ms/step
MSE 8: 63.980133056640625
10/10 [==============================] - 0s 2ms/step
MSE 9: 58.31065368652344
10/10 [==============================] - 0s 2ms/step
MSE 10: 50.848480224609375
10/10 [==============================] - 0s 2ms/step
MSE 11: 45.13578796386719
10/10 [==============================] - 0s 2ms/step
MSE 12: 44.296875
10/10 [==============================] - 0s 2ms/step
MSE 13: 49.43349075317383
10/10 [==============================] - 0s 2ms/step
MSE 14: 53.03451156616211
10/10 [==============================] - 0s 2ms/step
MSE 15: 43.50576400756836
10/10 [==============================] - 0s 2ms/step
MSE 16: 37.47605895996094
10/10 [==============================] - 0s 2ms/step
MSE 17: 43.242645263671875
10/10 [==============================] - 0s 2ms/step
MSE 18: 43.59335708618164
10/10 [==============================] - 0s 2ms/step
MSE 19: 40.94395446777344
10/10 [==============================] - 0s 2ms/step
MSE 20: 42.996700286865234
10/10 [==============================] - 0s 2ms/step
MSE 21: 40.4398307800293
10/10 [==============================] - 0s 2ms/step
MSE 22: 39.10750961303711
10/10 [==============================] - 0s 2ms/step
MSE 23: 39.997581481933594
10/10 [==============================] - 0s 2ms/step
MSE 24: 41.860355377197266
10/10 [==============================] - 0s 2ms/step
MSE 25: 42.929046630859375
10/10 [==============================] - 0s 2ms/step
MSE 26: 44.75600051879883
10/10 [==============================] - 0s 2ms/step
MSE 27: 42.03479766845703
10/10 [==============================] - 0s 2ms/step
MSE 28: 37.91429138183594
10/10 [==============================] - 0s 2ms/step
MSE 29: 47.31024169921875
10/10 [==============================] - 0s 2ms/step
MSE 30: 42.43468475341797
10/10 [==============================] - 0s 2ms/step
MSE 31: 42.110469818115234
10/10 [==============================] - 0s 2ms/step
MSE 32: 41.79135513305664
10/10 [==============================] - 0s 2ms/step
MSE 33: 40.460243225097656
10/10 [==============================] - 0s 2ms/step
MSE 34: 44.27375793457031
10/10 [==============================] - 0s 2ms/step
MSE 35: 42.02717971801758
10/10 [==============================] - 0s 2ms/step
MSE 36: 47.51178741455078
10/10 [==============================] - 0s 2ms/step
MSE 37: 42.50537109375
10/10 [==============================] - 0s 2ms/step
MSE 38: 49.02501678466797
10/10 [==============================] - 0s 2ms/step
MSE 39: 44.945945739746094
10/10 [==============================] - 0s 2ms/step
MSE 40: 35.20823669433594
10/10 [==============================] - 0s 2ms/step
MSE 41: 51.339263916015625
10/10 [==============================] - 0s 2ms/step
MSE 42: 42.148704528808594
10/10 [==============================] - 0s 2ms/step
MSE 43: 40.62798309326172
10/10 [==============================] - 0s 2ms/step
MSE 44: 46.07023620605469
10/10 [==============================] - 0s 2ms/step
MSE 45: 44.791194915771484
10/10 [==============================] - 0s 2ms/step
MSE 46: 40.39974594116211
10/10 [==============================] - 0s 2ms/step
MSE 47: 43.88677215576172
10/10 [==============================] - 0s 2ms/step
MSE 48: 40.997135162353516
10/10 [==============================] - 0s 2ms/step
MSE 49: 41.420875549316406
10/10 [==============================] - 0s 2ms/step
MSE 50: 43.294044494628906
10/10 [==============================] - 0s 2ms/step

Mean: 70.73263606622905
Standard Deviation: 83.61906623503639